/* ======================================
   COMPONENTS
   Cursor, Preloader, Buttons
   ====================================== */

/* ======================================
   CUSTOM CURSOR
   ====================================== */
html {
    cursor: none;
}

.cursor {
    position: fixed;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
    opacity: 0;
    user-select: none;
    pointer-events: none;
    z-index: 10000;
    background: rgba(255, 255, 255, .5);
    left: -1.25rem;
    top: -1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1023px) {
    .cursor {
        display: none;
    }

    html {
        cursor: auto;
    }
}

.cursor--hide {
    opacity: 0;
}

.cursor__show {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cursor__show p {
    opacity: 0;
    color: #fff;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1;
    white-space: nowrap;
}

.cursor__video,
.cursor__works,
.cursor__arrow {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: inherit;
}

.cursor__video {
    border: 1px solid #fff;
    backdrop-filter: blur(10px);
    color: #fff;
    font-size: 2.4rem;
}

.cursor__video svg,
.cursor__arrow svg {
    width: 30%;
}

.cursor__arrow {
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, .15);
}

.cursor__arrow svg * {
    fill: #fff;
}

.cursor--icon {
    mix-blend-mode: initial;
    background: rgba(238, 130, 238, .6);
}

.cursor--works {
    mix-blend-mode: initial;
    background: transparent;
}

.cursor--show {
    mix-blend-mode: initial;
    background: rgba(255, 255, 255, .35);
}

.cursor--btn {
    mix-blend-mode: initial;
    background: rgba(255, 255, 255, .2);
    backdrop-filter: blur(0.4px);
}

.cursor__click {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    border: 1px solid rgba(255, 255, 255, .2);
    padding: .3rem;
    border-radius: 30px;
    font-size: 2.2rem;
    font-weight: 300;
}

.cursor--click {
    background: transparent;
}

.cursor--click .cursor__click {
    display: block;
}

/* ======================================
   PRELOADER
   ====================================== */
@property --g1-1-x-position {
    syntax: "<percentage>";
    inherits: true;
    initial-value: 0%;
}

@property --g1-1-y-position {
    syntax: "<percentage>";
    inherits: true;
    initial-value: 0%;
}

@property --g1-2-x-position {
    syntax: "<percentage>";
    inherits: true;
    initial-value: 0%;
}

@property --g1-2-y-position {
    syntax: "<percentage>";
    inherits: true;
    initial-value: 0%;
}

@property --g1-1-size {
    syntax: "<percentage>";
    inherits: true;
    initial-value: 0%;
}

@property --g1-2-size {
    syntax: "<percentage>";
    inherits: true;
    initial-value: 0%;
}

.preloader {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity .5s;
    animation-fill-mode: forwards !important;
    overflow: hidden;
    background-color: #0c0c0c;
    color: var(--gray);
    width: 100vw;
    min-height: 100vh;
    background: radial-gradient(ellipse var(--g1-1-size) calc(var(--g1-1-size) * 1) at var(--g1-1-x-position) var(--g1-1-y-position),
            hsl(265deg, 100%, 78%) 0%,
            hsla(265deg, 100%, 78%, 0.8) 18%,
            hsla(265deg, 100%, 78%, 0.55) 36%,
            hsla(265deg, 100%, 78%, 0.35) 54%,
            hsla(265deg, 100%, 78%, 0.2) 72%,
            hsla(265deg, 100%, 78%, 0.1) 88%,
            rgba(12, 12, 12, 0) 100%),
        radial-gradient(ellipse var(--g1-2-size) calc(var(--g1-2-size) * 1) at var(--g1-2-x-position) var(--g1-2-y-position),
            hsl(210deg, 100%, 62%) 0%,
            hsla(210deg, 100%, 62%, 0.8) 18%,
            hsla(210deg, 100%, 62%, 0.55) 36%,
            hsla(210deg, 100%, 62%, 0.35) 54%,
            hsla(210deg, 100%, 62%, 0.2) 72%,
            hsla(210deg, 100%, 62%, 0.1) 88%,
            rgba(12, 12, 12, 0) 100%),
        #0c0c0c;
    animation: g-1 4s ease-in-out;
}

.preloader::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='200' height='200'><filter id='n'><feTurbulence type='fractalNoise' baseFrequency='0.8' numOctaves='3' stitchTiles='stitch'/></filter><rect width='100%' height='100%' filter='url(%23n)'/></svg>");
    background-size: 200px 200px;
    opacity: .25;
    mix-blend-mode: overlay;
    pointer-events: none;
}

.preloader--none {
    display: none;
}

.preloader__text {
    text-align: center;
    font-size: 6rem;
    width: 100%;
    display: block;
    position: absolute;
    left: 0px;
    top: calc(50% - 6rem);
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: -0.04em;
    gap: 1rem;
    opacity: 0;
    animation: preloaderLogoOpacity .75s .5s ease-in-out forwards;
}

@media screen and (max-width: 1023px) {
    .preloader__text {
        font-size: 2.5rem;
        gap: .5rem;
    }
}

.preloader__text>div {
    width: 5rem;
    display: inline-block;
    height: 3px;
    background: var(--gray);
    vertical-align: middle;
    margin: 0px 2.5rem;
}

@media screen and (max-width: 1023px) {
    .preloader__text>div {
        width: 3rem;
        height: 2px;
        margin: 0px 1rem;
    }
}

.preloader__numbers {
    font-size: 18rem;
    letter-spacing: -0.06em;
    margin: 4rem;
    margin-top: auto;
    margin-left: auto;
    line-height: .8;
    opacity: 0;
    color: var(--gray);
    text-align: right;
    position: relative;
}

.preloader__numbers-span {
    visibility: hidden;
}

@media screen and (max-width: 1023px) {
    .preloader__numbers {
        font-size: 8rem;
        margin: 2rem;
        margin-top: auto;
        margin-left: auto;
    }
}

.preloader__numbers-wrap {
    position: absolute;
    right: .7em;
    top: 0px;
    height: 100%;
    overflow: hidden;
    padding: 0px .1em;
}

.preloader__numbers-wrap div {
    display: flex;
    flex-direction: column;
}

@keyframes preloaderLogoOpacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes g-1 {
    0% {
        --g1-1-x-position: 0%;
        --g1-1-y-position: 0%;
        --g1-1-size: 0%;
        --g1-2-x-position: 110%;
        --g1-2-y-position: 110%;
        --g1-2-size: 30%;
    }

    50% {
        --g1-1-x-position: -5%;
        --g1-1-y-position: -2%;
        --g1-1-size: 30%;
        --g1-2-x-position: 105%;
        --g1-2-y-position: 102%;
        --g1-2-size: 100%;
    }

    100% {
        --g1-1-x-position: -5%;
        --g1-1-y-position: 30%;
        --g1-1-size: 100%;
        --g1-2-x-position: 120%;
        --g1-2-y-position: 115%;
        --g1-2-size: 100%;
    }
}